.form__caption {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;
  /* identical to box height */
    
  color: #A0A0A0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form__caption {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
}