.promo__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: #000;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .promo__title {
    font-size: 30px;
    line-height: 38px;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    letter-spacing: -0.04em;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .promo__title {
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    max-width: 680px;
  }
}

@media screen and (min-width: 1024px) {
  .promo__title {
    font-size: 50px;
    line-height: 58px;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: start;
  }
}

