.not-found__code {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .not-found__code {
    font-size: 80px;
    line-height: 97px;
    margin: auto 0 10px;
  }
}

@media screen and (min-width: 767px) {
  .not-found__code {
    font-size: 140px;
    line-height: 169px;
    margin: auto 0 5px;
  }
}