.profile-form__input {
  border: none;
  border-radius: 0;
  text-align: end;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  outline: none;
  background: #FAFAFA;
}