.not-found__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #3456F3;
  transition: .3s;
  cursor: pointer;
  margin: auto 0 60px;
}

.not-found__link:hover {
  opacity: .7;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .not-found__link {
    font-size: 12px;
    line-height: 15px;
    margin: auto 0 30px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .not-found__link {
    margin: auto 0 222px;
  }
}