.search-form__container {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 13px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-form__container {
    padding-bottom: 9px;
  }
}