.search-form__submit {
  height: 34px;
  width: 59px;
  background-color: #3456F3;
  cursor: pointer;
  border-radius: 48px;
  border: none;
  outline: none;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */
  
  text-align: center;
  transition: .3s;
}

.search-form__submit:hover {
  opacity: .8;
}
