.form__input-error {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: none;
  min-height: 12px;

  margin: 6px 0;
  
  color: #EE3465;
}