.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header__nav {
    display: none;
    flex-direction: column;
  }
}