.header__register {
  color: #000000;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: .3s;
}

.header__register:hover {
  opacity: .8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__register {
    font-size: 10px;
  }
}