@media screen and (min-width: 320px) and (max-width: 767px) {
  .about-me {
    padding: 70px 14px;
  }
}


@media screen and (min-width: 767px) and (max-width: 1024px) {
  .about-me {
    padding: 90px 50px;
  }
}

@media screen and (min-width: 1024px){
  .about-me {
    padding: 170px 70px 100px;
  }
}