.techs__element {
  background-color: #E8E8E8;
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: -0.04em;
  padding: 21px 0;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .techs__element {
    font-size: 12px;
    line-height: 15px;
  }
}